# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Environment configuration files
*.env
*.env.local
*.env.dev
*.env.prod

# Database files
db.sqlite3

# Node.js dependencies
node_modules/

# Log files
*.log

# macOS filesystem files
.DS_Store

# Local development settings
local_settings.py

# Django migration files
**/migrations/
