{% extends "base.html" %}

{% block title %}
Delete a Race
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6">

        <div class="form-group">
            <h2>Delete a Race</h2>
            {{ form.media }}
            <form method="post">
                {% csrf_token %}
                <p>Are you sure want to delete this race?</p>
                <button type="submit" class="btn btn-primary">Yes</button>
                <a class="btn btn-secondary" href="/">Cancel</a>
            </form>

        </div>

    </div>
</div>

{% endblock content %}


<td><a href="{% url "show_race" race.id %}">{{ race.name }}</a></td>
