{% extends "base.html" %}

{% block title %}
Delete a Race
{% endblock title %}

{% block content %}

<div class="container min-vh-70 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col">
            <div class="align-items-center">
                <h2 class="mt-4">Delete Race</h2>
            </div>
            <div class="mt-4">
                <form class="mt-4" method="post">
                    {% csrf_token %}
                    <p>Are you sure want to delete this race?</p>
                    <button type="submit" class="mt-4 mx-1 btn btn-outline-primary">Yes</button>
                    <a class="btn btn-outline-secondary mt-4 mx-1" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
