{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}
    {{ race_object.name }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class=col></div>
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6">

        <div class="d-flex flex-column align-items-center">
            <h2 class="mt-4">Race Details</h2>
            <h3 class="mb-4">{{ race_object.name }}</h3>
        </div>
        <div class="card mt-4">
            <div class="card-header">Race Info</div>
            <div class="card-body">
                <div class="dropdown">
                    <a class="color-primary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined">more_vert</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "edit_race" race_object.id %}">Edit race</a></li>
                        <li><a class="dropdown-item" href="{% url "delete_race" race_object.id %}">Delete race</a></li>
                    </ul>
                </div>
                <table class="table">
                    <tr>
                        <th>Distance</th>
                        <td>{{ race_object.get_distance_display }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ race_object.location }}</td>
                    </tr>
                    <tr>
                        <th>Terrain</th>
                        <td>{{ race_object.get_terrain_display }}</td>
                    </tr>
                    <tr>
                        <th>Elevation Gain</th>
                        <td>{{ race_object.elevation_gain }} feet</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ race_object.date }}</td>
                    </tr>
                    <tr>
                        <th>Link</th>
                        <td><a href="{{ race_object.link }}"><span class="material-symbols-outlined">link</span></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">Race Result</div>
            <div class="card-body">
                <div class="dropdown">
                    <a class="color-primary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined">more_vert</span>
                    </a>
                    {% if race_object.result %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "edit_result" race_id=race_object.id result_id=race_object.result.id %}">Edit result</a></li>
                        <li><a class="dropdown-item" href="{% url "delete_result" race_id=race_object.id result_id=race_object.result.id %}">Delete result</a></li>
                    <ul>
                    {% else %}
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="{% url "add_result_to_race" id=race_object.id  %}">Add a result</a>
                    </ul>
                    {% endif %}
                </div>
                {% if race_object.result %}
                <table class="table">
                    <tr>
                        <th>Time</th>
                        <td>{{ race_object.result.time }}</td>
                    </tr>
                    <tr>
                        <th>Overall Place</th>
                        <td>{{ race_object.result.overall_place }}</td>
                    </tr>
                    <tr>
                        <th>Division</th>
                        <td>{{ race_object.result.get_division_display }}</td>
                    </tr>
                    <tr>
                        <th>Division Place</th>
                        <td>{{ race_object.result.division_place }}</td>
                    </tr>
                    <tr>
                        <th>Rank</th>
                        <td>{{ race_object.result.overall_place|calculate_percentile:race_object.result.finishers }}%</td>
                    </tr>
                    <tr>
                        <th>Link</th>
                        <td><a href="{{ race_object.result.link }}"><span class="material-symbols-outlined">link</span></a></td>
                    </tr>
                </table>
                {% else %}
                <div class="d-flex justify-content-center">
                    <p>No results reported</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}
