{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    My Races
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col">

        <h2>Race List</h2>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Upcoming Races</div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Distance</th>
                        <th>Location</th>
                        <th>Terrain</th>
                        <th>Elevation Gain</th>
                        <th>Date</th>
                        <th>Link</th>
                    <tr>
                </thead>
                <tbody>
                    {% for race in race_list %}
                    {% if race.date|in_the_future %}
                    <tr>
                        <td><a href="{% url "show_race" race.id %}">{{ race.name }}</a></td>
                        <td>{{ race.distance }}</td>
                        <td>{{ race.location }}</td>
                        <td>{{ race.terrain }}</td>
                        <td>{{ race.elevation_gain }}</td>
                        <td>{{ race.date }}</td>
                        <td><a href="{{ race.link }}">Link to race website</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbdody>
            </table>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Past Races</div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Distance</th>
                        <th>Location</th>
                        <th>Terrain</th>
                        <th>Elevation Gain</th>
                        <th>Date</th>
                        <th>Link</th>
                    <tr>
                </thead>
                <tbody>
                    {% for race in race_list %}
                    {% if not race.date|in_the_future %}
                    <tr>
                        <td><a href="{% url "show_race" race.id %}">{{ race.name }}</a></td>
                        <td>{{ race.distance }}</td>
                        <td>{{ race.location }}</td>
                        <td>{{ race.terrain }}</td>
                        <td>{{ race.elevation_gain }}</td>
                        <td>{{ race.date }}</td>
                        <td><a href="{{ race.link }}">Link to race website</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbdody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}
