{% extends "base.html" %}
{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
        <h2 class="mt-4 mb-4">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}


{% comment %} <div>
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter your username">
  </div>
  <div>
    <label for="currentPassword">Current Password</label>
    <input type="password" class="form-control" id="currentPassword" placeholder="Enter your current password">
  </div>
  <div>
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password">
  </div>
  <div>
    <label for="confirmPassword">Confirm New Password</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password">
  </div>
<button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
